*,
*::before*::after {
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

:root {
    --primary-light-hsl: 200, 100%, 91%;
    --primary-hsl: 200, 100%, 50%;
    --primary-dark-hsl: 200, 100%, 6%;
    --success-hsl: 100, 60%, 50%;
    --error-hsl: 0, 60%, 50%;
}

body {
    margin: 0;

}

.full-screen-container {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exercise {
    width:50%;
    
    padding: 3rem;
    position: relative;
    border: 2px solid rgb(5, 5, 5);
    border-radius: 3rem;
    display: flex;

    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.exercise >div {
    margin: 6px;
}

.question{
    width: 100%;
    text-align: right;
    font-size: larger;
}

.question span{
    color: #e21e1e;
    font-size: 2rem;
}
.sample{
   
    width: 22%;
    aspect-ratio: 1/1;
    min-width: 100px

}
.sample .fig{ 
   
    
}

.sample .fig img{
    width: 100%;
    height: 100%
}

.sample p{
    margin:10px;
    display: block;

    border-radius: 4px;
    text-align: center;
    background-color: aquamarine;
    cursor: pointer;
}


.sample p:hover {
box-shadow: 0px 0px 20px #e21e1e;
}
.exercise p.checked {
    background-color: rgba(50, 200, 12, 0.6);
    box-shadow:none;
    pointer-events: none;
}
.exercise p.error{
    background-color: rgba(200, 25, 10, 0.9);
    pointer-events: none;
}

